:root{
    /* MAJOR  */
    --major-font-color: #000;
    --major-background-color: #fff;
    --navbar-hover-color: #ddd;
    --navbar-chosen-color: #ddd;
    --graphs-background-color: #ddd;
    --selection-background-color: #c3c3c3;
    --topbar-hover-color: #bbb;
    --loading-interface-background-color: rgba(200, 200, 200, 0.85);
    --current-navbar-color: #999;
    /* SINGLE */
    --single-divider-line-color: #aaa;
    --single-username-border-bottom-color: #aaa;
    --single-progress-bar-background-color: #fff;
    --single-progress-bar-color: #ccc;
    --single-memory-used-border-bottom-color: #aaa;
    --single-switch-buttons-background-color: #ccc;
    --single-switch-buttons-hover-background-color: #aaa;
    --single-switch-buttons-selected-background-color: #999;
    --single-rank-delta-background-color: #ccc;
    --single-progress-bar-poptip-background-color: #aaa;
    --single-grid-mode-background-color: #ddd;
    --single-grid-mode-index-background-color: #ccc;
    --single-problem-list-infobar-background-color: #ccc;
    --single-list-event-mode-block-background-color: #ccc;
    --single-list-event-mode-block-hover-background-color: #bbb;
    --single-list-mode-progress-bar-background-color: #aaa;
    --single-long-press-progress-circle-background-color: rgba(125, 125, 125, 0.5);
    --single-long-press-progress-circle-color: #fff;
    --single-block-background-color: #eee;
    --single-block-title-background-color: #d5d5d5;
    --single-block-expand-button-background-color: #ccc;
    --single-block-expand-hover-button-background-color: #aaa;
    /* MULTI */
    --multi-info-bar-background-color: #ccc;
    --multi-list-highlighted-background-color: #ccc;
    /* CONTEST */
    --contest-info-bar-background-color: #d2d2d2;
    --contest-sort-block-background-color: #ddd;
    --contest-button-background-color: #ccc;
    --contest-button-chosen-background-color: #aaa;
    --contest-button-hover-background-color: #aaa;
    --contest-list-selection-border-left-color: #ed9970;
    --contest-list-highlighted-background-color: #ccc;
    /* PROBLEM PAGE */
    --problist-block-background-color: #ccc;
    --problist-sort-button-hover-background-color: #bbb;
    --problist-sort-button-selected-background-color: #aaa;
    /* PROFILE (PROBLEM PAGE REQUIRED) */
    --profile-page-block-background-color: #ccc;
    --profile-page-block-title-background-color: #bbb;
    --profile-page-submission-light-background-color: #aaa;
    --profile-page-submission-light-color: #279e75;
    --profile-page-submittion-graph-choser-background-color: #bbb;
    --profile-page-submittion-graph-choser-hover-background-color: #aaa;
    --profile-page-submittion-graph-choser-chosen-background-color: #999;
    --profile-page-poptip-background-color: #aaa;
    --profile-page-poptip-background-color: #aaa;
    --profile-page-submission-graph-selection-background-color: #5286cd;
    /* MODULES */
    --modules-block-background-color: #ccc;
    /* SETTINGS */
    --settings-comment-color: #888;
    --settings-select-button-hover-background-color: #aaa;
    --settings-unclickable-button-color: #888;
    --settings-input-background: #ddd;
    --settings-input-border-bottom-color: #777;
    --settings-select-background-color: #ddd;
    /* POPOUTS */
    --pop-out-block-background-color: #ddd;
    --pop-out-block-background-color-1: #ccc;
    --pop-out-block-closer-background-color: #ccc;
    --pop-out-block-closer-hover-background-color: #bbb;
    /* SCROLL */
    --scroll-bar-hover-color: #ccc;
    --scroll-bar-thumb-color: #aaa;
    /* THEME COLOR */
    --primary-color: rgb(27, 124, 206);
    --primary-hover-color: rgb(38, 103, 157);
    --danger-color: rgb(214, 18, 57);
    --danger-hover-color: rgb(158, 12, 41);
    --warning-color: rgb(228, 175, 30);
    --warning-hover-color: rgb(175, 142, 52);
    --success-color: #36c292;
    --success-hover-color: #25a579;
    --loading-color: rgb(105, 105, 105);
    --loading-hover-color: rgb(120, 120, 120);
    --red-font-color: rgb(214, 18, 57);
    --green-font-color: #279e75;
    /* USER COLOR */
    --user-red-color: rgb(255, 26, 26);
    --user-orange-color: rgb(255, 152, 26);
    --user-purple-color: rgb(255, 85, 255);
    --user-blue-color: rgb(51, 125, 255);
    --user-cyan-color: #00cec1;
    --user-green-color: #58c758;
    --user-grey-color: rgb(152, 143, 129);

    /* ========== CONTEST WINDOW START ==========*/

    --contest-window-block-background-color: #ddd;

    /* =========== CONTEST WINDOW END ===========*/

    /* ========== PROBLEM WINDOW START ==========*/

    --problem-window-side-bar-background-color: #ccc;
    --problem-window-side-bar-highlight-color: rgb(255, 204, 102);
    --problem-window-side-bar-hover-background-color: #eee;
    --problem-window-info-bar-background-color: #ddd;
    --problem-window-info-bar-items-background-color: #eee;
    --problem-window-info-bar-group-background-color: #bbb;
    --problem-window-link-color: #2aa3c3;
    --problem-window-link-hover-color: #4eb2cd;
    --problem-window-link-onclick-color: #4eb2cd;
    --problem-window-link-visited-color: #45d0f5;
    --problem-window-table-border-color: #000;
    --problem-window-copy-button-background-color: #bbb;
    --problem-window-copy-button-hover-background-color: #999;
    --problem-window-submission-watcher-popout-background-color: rgba(255, 255, 255, 0.85);

    /* =========== PROBLEM WINDOW END ===========*/
}
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#383a42;background:inherit}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#a626a4}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#50a14f}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#986801}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#4078f2}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#c18401}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}