body{
	color: #000;
}
.HtmlContainer{
	background: #fff;
}
.NavBarContent:hover{
	background: #ddd;
}
.NavBarChosen, .InnerContent{
	background: #ddd;
}
.ToolListMinimize:hover{
	background: #bbb;
}
.ToolList{
	border-bottom: 2px solid #ccc;
}
.NavBarCurr{
	background: #999;
}
.DividerLine{
	background: #aaa;
}
.singleUsernameDisplayer{
    border-bottom: 1px solid #aaa;
}
.singleContestProgressBarDisplayer{
    background: #fff;
}
.singleContestProgressInfoDisplayer{
    background: #999;
}
.singleMemoryUsed > span{
    border-bottom: 1px solid #aaa;
}
.selectButton{
    background: #ccc;
}
.selectButton:hover{
    background: #aaa;
}
.selectButton.selected{
    background: #999;
}
.singleRankChangesDisplayer{
    background: #ccc;
}
.singleContestProgressBackground{
    background: #ccc;
}
.singleContestPoptip{
    background: #aaa;
}
.singleContestPoptipTail{
     border-color: #aaa transparent transparent transparent;
}
.singleProblemlistDisplayerGridItem{
    background: #ddd;
}
.singleProblemlistDisplayerGridItemIndex{
    background: #ccc;
}
.singleProblemlistBottom{
    background: #ccc;
}
.singleProblemlistDisplayListItemInfo, .singleProblemlistDisplayListItemStatus, .singleProblemlistDisplayEventItem{
    background: #ccc;
}
.singleProblemlistDisplayListItemInfo:hover, 
.singleProblemlistDisplayListItemStatus:hover, 
.singleProblemlistDisplayEventItem:hover{
    background: #bbb;
}
.singleProblemlistDisplayListItemProgress{
    background: #aaa;
}
.singleHeadBackProgress {
    background-color:   rgba(125, 125, 125, 0.5);
    border: 15px solid #fff;
}
.singleHeadBackProgress.selected{
    border: 0 solid rgba(255, 255, 255, 0.5);
}
.settingsRadioInfoAddition, .settingsSelectInfoAddition, .settingsSelectBigInfoAddition, .settingsInputInfoAddition, .pageSmallTip{
    color: #888;
}
.settingsSelectPart > div:first-child:hover, .settingsSelectPart > div:last-child:hover,
.settingsSelectBigPart > div:first-child:hover, .settingsSelectBigPart > div:last-child:hover{
    background: #aaa;
}
.settingsSelectPartLeft.closed, .settingsSelectPartRight.closed,
.settingsSelectBigPartLeft.closed, .settingsSelectBigPartRight.closed{
    color: #888;
    cursor: default;
}
.settingsInputPartContent{
    background: #ddd;
    border: 0;
    border-bottom: 1px solid #777;
    color: black;
    outline: none;
}
.loadingInterface{
	background: rgba(200, 200, 200, 0.95);
	color: black;
}
.submissionDisplayer > div:first-child > div:first-child{
    background: #eee;
}
.submissionCodeDisplayer{
    background: #ddd;
}
.settingsLoginButton, .settingsLoginType{
    color: black;
}
.settingsSelectBigPartContent{
    background: #ddd;
}
.searchPageTop, .searchPageTip{
    background: #d2d2d2;
}
.searchArgumentsChoser{
    background: #ddd;
}
.searchArgumentsItem{
    background: #ccc;
}
.searchArgumentsItem.chosen{
    background: #aaa;
}
.searchPagesButton:hover{
    background: #aaa;
}
.contestInfoCard:hover{
    border-left-color: #ed9970;
}
.highlightedContestList{
    background: #ccc;
}











.blockManager{
    background: #eee;
}
.blockManagerTitle{
    background: #d5d5d5;
}
.folderButton{
    background: #ccc;
}
.folderButton:hover{
    background: #aaa;
}










.bigInputArea>input{
	background: transparent;
    border: 1px solid #777;
    color: black;
}
.bigButton{
    position: relative;
    border: 1px solid #777;
    color: white;
}
::-webkit-scrollbar:hover{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #aaa;
}


.primaryColor{
    background: rgb(27, 124, 206);
    transition: 0.2s;
    color: white;
}
.primaryColor:hover{
    background: rgb(38, 103, 157);
}
.dangerColor{
    background: rgb(214, 18, 57);
    transition: 0.2s;
    color: white;
}
.dangerColor:hover{
    background: rgb(158, 12, 41);
}
.warningColor{
    background: rgb(228, 175, 30);
    transition: 0.2s;
    color: white;
}
.warningColor:hover{
    background: rgb(175, 142, 52);
}
.successColor{
    background: #36c292;
    transition: 0.2s;
    color: white;
}
.successColor:hover{
    background: #25a579;
}
.loadingColor{
    background: rgb(105, 105, 105);
    transition: 0.2s;
    color: white;
}
.loadingColor:hover{
    background: rgb(120, 120, 120);
}
.red{
    color: rgb(214, 18, 57);
}
.green{
    color: #279e75;
}

.user-legendary, .user-igramdmaster, .user-grandmaster {
    color: rgb(255, 26, 26);
    font-weight: 600;
}
.user-legendary:first-letter{
    color: black;
}
.user-master, .user-imaster {
    color: rgb(255, 152, 26);
    font-weight: 600;
}
.user-cmaster {
    color: rgb(255, 85, 255);
    font-weight: 600;
}
.user-expert {
    color: rgb(51, 125, 255);
    font-weight: 600;
}
.user-specialist {
    color: #00cec1;
    font-weight: 600;
}
.user-pupil {
    color: #58c758;
    font-weight: 600;
}
.user-newbie {
    color: rgb(152, 143, 129);
    font-weight: 600;
}
.user-unrated {
    color: white;
}

.highcharts-background{
    background: #ddd !important;
}

::selection { background:#c3c3c3; }  

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#383a42;background:inherit}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#a626a4}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#50a14f}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#986801}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#4078f2}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#c18401}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}