@font-face {
	font-family: 'Consolas';
	src: url('../../fonts/Consolas.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	src: url('../../fonts/Verdana.ttf') format('truetype');
}
@font-face {
	font-family: 'VerdanaBold';
	src: url('../../fonts/VerdanaBold.ttf') format('truetype');
}
body{
	transition: background-color 0.3s, color 0.3s;
	overflow: hidden;
	margin: 0px;
}
:root{
	--font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace', sans-serif;
}
.HtmlContainer{
	margin: 0px;
	user-select:none;
	font-size: 14px;
	font-family: var(--font-family);
	-webkit-app-region: drag;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 5px;
	display: inline-flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	padding: 10px;
	border-radius: 10px;
	width: 320px;
}
.mainWrapper{
	display: flex;
	flex:  1;
	flex-direction: row;
}
.innerContent{
	flex: 1;
	margin: 0px 10px;
}
.singleContestProgressBackground{
	transition: 0.2s;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	border-radius: 3px;
}
.singleContestProgressInfo{
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	z-index: 3;
}
.singleContestProgressPart{
	position: absolute;
	top: 0px;
	width: 4px;
	height: 100%;
	left: 0px;
	transform: translate(-50%, 0%);
}
.styleBlock{
	position: relative;
	font-size: 15px;
	margin-top: 10px;
	border-radius: 10px;
	height: 69px;
	padding: 8px;
}
.rankDisplayer{
	text-align: center;
}
.rankDisplayer > div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}
.currentRank{
	font-size: 24px;
}
.currentRankDelta{
	font-size: 16px;
	margin-left: 5px;
}
.currentRankDelta > i{
	margin-right: 5px;
}
.smallSubmissionInfo{
	font-size: 14px;
	width: 22px;
	height: 22px;
	position: relative !important;
	display: inline-block;
	margin: 1px;
}
.smallSubmissionInfo > *{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.idleColor{
	width: 20px !important;
	height: 20px !important;
}








img[src=""],img:not([src]){opacity:0;}
.singleUserAvatar{
	margin-right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 10px;
}
.singleContestProgressBarDisplayer{
	position: relative;
	border-radius: 3px;
	width: 100%;
	height: 18px;
	margin-bottom: 10px;
}
.singleContestProgressRatingChangesDisplayer{
	font-size: 16px;
	width: 100%;
	height: 22px;
	padding-top: 4px;
}
.singleContestProgressRatingChangesDisplayer > span{
	display: block;
}