body{
	color: #000;
}
.HtmlContainer{
	background: #fff;
}




::-webkit-scrollbar:hover{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #aaa;
}


.primaryColor{
    background: rgb(27, 124, 206);
    transition: 0.2s;
    color: white;
}
.primaryColor:hover{
    background: rgb(38, 103, 157);
}
.dangerColor{
    background: rgb(214, 18, 57);
    transition: 0.2s;
    color: white;
}
.dangerColor:hover{
    background: rgb(158, 12, 41);
}
.warningColor{
    background: rgb(228, 175, 30);
    transition: 0.2s;
    color: white;
}
.warningColor:hover{
    background: rgb(175, 142, 52);
}
.successColor{
    background: #36c292;
    transition: 0.2s;
    color: white;
}
.successColor:hover{
    background: #25a579;
}
.loadingColor{
    background: rgb(105, 105, 105);
    transition: 0.2s;
    color: white;
}
.loadingColor:hover{
    background: rgb(120, 120, 120);
}
.red{
    color: rgb(214, 18, 57);
}
.green{
    color: #279e75;
}

.user-legendary, .user-igramdmaster, .user-grandmaster {
    color: rgb(255, 26, 26);
    font-weight: 600;
}
.user-legendary:first-letter{
    color: black;
}
.user-master, .user-imaster {
    color: rgb(255, 152, 26);
    font-weight: 600;
}
.user-cmaster {
    color: rgb(255, 85, 255);
    font-weight: 600;
}
.user-expert {
    color: rgb(51, 125, 255);
    font-weight: 600;
}
.user-specialist {
    color: #00cec1;
    font-weight: 600;
}
.user-pupil {
    color: rgb(114, 255, 114);
    font-weight: 600;
}
.user-newbie {
    color: rgb(152, 143, 129);
    font-weight: 600;
}
.user-unrated {
    color: white;
}

.highcharts-background{
    background: #ddd !important;
}