@font-face {
	font-family: 'Consolas';
	src: url('../../fonts/Consolas.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	src: url('../../fonts/Verdana.ttf') format('truetype');
}
@font-face {
	font-family: 'VerdanaBold';
	src: url('../../fonts/VerdanaBold.ttf') format('truetype');
}
:root{
	--font-family: sans-serif;
}
.HtmlContainer{
	-webkit-app-region: drag;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 5px;
	display: inline-flex;
	width: 100%;
	height: 100%;
}