body{
    color: #000;
}
.HtmlContainer{
    background: #eee;
}
.sideBar{
    background: #ccc;
}
.sideBarItem.chosen{
    padding-left: 5px;
    border-left: 5px solid #ed9970;
}
.sideBarItem > div:last-child:hover, .sideBarGroup > div:last-child:hover{
    background: #ff456b;
    color: white;
}
.sideBarItem:hover{
    background: #eee;
}
.ToolList{
    border-bottom: 2px solid #ccc;
}
.ToolListMinimize:hover, .ToolListMaximize:hover{
    background: #bbb;
}
.progressBar{
    background: #ddd;
}
.progressBar > div > div.actions:hover{
    background: #eee;
}
input{
    border: 0;
    border-bottom: 1px solid #777;
    color: black;
    outline: none;
}
.blockManagerTitle{
    background: #d6d6d6;
}
.blockManagerContent{
    background: #ddd;
}
.loadingInterface{
    background: rgba(200, 200, 200, 0.95);
    color: black;
}
.submitInterface{
    background: #ddd;
}
.bigButton{
    border: 1px solid #777;
    color: white;
}
select{
    background: #ddd;
}
a {color: #2aa3c3;}
a:hover {color: #4eb2cd;}
a:onclick {color: #4eb2cd;}
a:visited {color: #45d0f5;}
table > tr > th, table > tr > td { border-color:black; }
.copyCode, .copyInfo{
    background: #bbb;
}
.copyCode:hover, .copyInfo:hover{
    background: #999;
}
.singleWatchContent{
    background: rgba(255, 255, 255, 0.85);
}
.sideBarGroupContents{
    background: #bbb;
}



::-webkit-scrollbar:hover{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #aaa;
}

.primaryColor{
    background: rgb(27, 124, 206);
    transition: 0.2s;
    color: white;
}
.primaryColor:hover{
    background: rgb(38, 103, 157);
}
.dangerColor{
    background: rgb(214, 18, 57);
    transition: 0.2s;
    color: white;
}
.dangerColor:hover{
    background: rgb(158, 12, 41);
}
.warningColor{
    background: rgb(228, 175, 30);
    transition: 0.2s;
    color: white;
}
.warningColor:hover{
    background: rgb(175, 142, 52);
}
.successColor{
    background: #36c292;
    transition: 0.2s;
    color: white;
}
.successColor:hover{
    background: #25a579;
}
.loadingColor{
    background: rgb(105, 105, 105);
    transition: 0.2s;
    color: white;
}
.loadingColor:hover{
    background: rgb(120, 120, 120);
}
.red{
    color: rgb(214, 18, 57);
}
.green{
    color: #279e75;
}

.user-legendary, .user-igramdmaster, .user-grandmaster {
    color: rgb(255, 26, 26);
    font-weight: 600;
}
.user-legendary:first-letter{
    color: black;
}
.user-master, .user-imaster {
    color: rgb(255, 152, 26);
    font-weight: 600;
}
.user-cmaster {
    color: rgb(255, 85, 255);
    font-weight: 600;
}
.user-expert {
    color: rgb(51, 125, 255);
    font-weight: 600;
}
.user-specialist {
    color: #00cec1;
    font-weight: 600;
}
.user-pupil {
    color: #58c758;
    font-weight: 600;
}
.user-newbie {
    color: rgb(152, 143, 129);
    font-weight: 600;
}
.user-unrated {
    color: white;
}

::selection { background:#c3c3c3; }  

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#383a42;background:inherit}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#a626a4}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#50a14f}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#986801}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#4078f2}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#c18401}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}